<div id="container-instructions">

	<h1>In this study, you will be helping us evaluate the design of two robotics interfaces. </h1>
	<h3>This evaluation will begin after you fill out demographic information and do a video check to verify videos are shown properly in the following sections. </h3>
	<h3>Further instructions on your specific tasks will follow.</h3>
	<br>
	<h3>Throughout this study, please carefully read all instructions and answer questions as well as you can.</h3>
	<hr/>

	<!-- <div class="instructions well">

            <h3>
				In the future, <b>robot teammates</b> might help us work more efficiently. 
				<br>
				<br>
				<img src="/static/images/furhat.png" alt="furhat" width="500">
				<br>
				<br>However, collaborative robots should also respond appropriately if a teammate says something wrong, or makes an unethical request.
				<br>
            </h3>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div> -->

	<hr />
	<br>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
