
<div id="container-instructions">

	<h1>Interface Evaluation Task Instructions</h1>
	<hr />
	<div class="instructions well">
           
			In this study, you will help us <b>evaluate two interfaces intended for tracking the components of multiple robots</b>. Below are gifs of what these interfaces look like. 
			<br>
			Each gif demonstrates multiple robots (Robot A, B, C, and D) connecting to an interface. Individual robots are composed of multiple disparate components. These components are represented either by a label like “CameraComponent1” (as shown in interface 1) or by icons like a camera silhouette (as shown in interface 2). 
			Either connecting lines (interface 1) or visual grouping of components within a rectangular space (interface 2) are used to indicate which components belong to which robot. 
			<br>
			<br>
			
			 <style type="text/css">
				.inline-block-child {
				  display: inline-block;
				  vertical-align:top;
				}
			 </style>
			 
			<div class='parent'>
				<div class='child inline-block-child' style="border-right: 2px dotted; padding-right: 20px">
					<h3>Interface 1</h3>
					<img id="intf1Gif" src="/static/videos/3_instruct.gif" height="700">
				</div>
				
				<div class='child inline-block-child' style="padding-left: 20px" >
					<h3>Interface 2</h3>
					<img id="intf2Gif" src="/static/videos/1_2_instruct.gif" height="700">
				</div>
			</div>
			
			<br>
			<br>

			<hr/>
			<br>
			To evaluate these interfaces, you will take part in <b>3 rounds of tasks per interface</b> (6 rounds total, two of which are practice rounds). <b>During each round, you will have two panels to provide attention to</b>.
			<br>			
			These panels will be placed side-by-side within the same window as shown in the image below. On the left-side is PanelA which will display a video of one of the interfaces shown above. On the right-side is PanelB which will contain a letter counting task.
			<br>
			<br>
			<img src="/static/images/layout_example.png" width="800">
			<br>
			<br>
			
			For each round you will need to do the following:
			<ol>
				<li>Before beginning a round/video, familiarize yourself with the initial configuration of the interface shown in PanelA.</li>
				<li>To begin a round, press "Play Video" in PanelA. The video demonstrates one of the interfaces shown above. You’ll need to <b>passively pay attention to the video shown and any changes that may occur</b>.</li>
				<li><b>While the video plays</b>, you’ll need to work on a task in PanelB.  Your task is to <b>look through a sample of text and count the number of times the letter ‘a’ appears</b> within the text. </li>
				<li>Once the video finishes, you’ll be asked to answer questions about the video shown in PanelA. Note: The video cannot be replayed and is about 1 minute in length.</li>
				<li>You will also then have the chance to provide a number response for the task in PanelB.</li>
			</ol>
			
			Before moving onto the next round, all questions must be answered.
			<br>
			<hr/>

			<b>Once all rounds are complete, you will be asked a final open question about the interfaces demonstrated. Make sure to click through to the end of the study to receive your Prolific Completion Code.</b>
			<br>
			<hr/>
			<b>
	
			<center>
			<h2>Click next to take part in the first practice round.</h2>
			</center>
            

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
